<div style='margin: 8em 15em;'>
  <div style='text-align: center;'>
    <h1>Here is my family:</h1>
  </div>
  <div style='margin: 0 auto; width: 80%;'>
    <table style='width: 100%; border: groove;'>
      <tr style='text-align: left;'>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Favorite Food</th>
        <th>Adult?</th>
        <th>Grandparent?</th>
        <th>Species</th>
        <th></th>
      </tr>
      <% for (i in family) {%>
        <tr>
          <td><%= family[i]['name'] %></td>
          <td><%= family[i]['age'] %></td>
          <td><%= family[i]['gender'] %></td>
          <td><%= family[i]['food'] %></td>
          <td><%= family[i]['adult'] %></td>
          <td><%= family[i]['grandparent'] %></td>
          <td><%= family[i]['species'] %></td>
          <td>
            <form method='POST' action='/' style='cursor: pointer; display: table-cell; color: red;' onclick='this.submit()'>
              X
              <input type='hidden' name='family_member_id' value='<%= family[i]['id'] %>'>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <h3>Add new family member?</h3>
    <div style='text-align: center;'>
      <button type='button' style='cursor: pointer;' onclick='window.location.href="/new"'>Add new family member</button>
    </div>
  </div>
</div>
